{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Django Challenge</title>

</head>
<body>

<nav>
    <h2>Django Challenge</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>Welcome {{ name }}</h1>
    <p>{{ description }}</p>
    <a href="/about/" class="btn">{{button}}</a>
</section>

<footer>
    © {{ year}} {{author}} | {{challenge}}

</body>
</html>